<form name="contact" method="POST" data-netlify="true" action="/thanks">
  <div id="form-grid-container">
    <div class="left animate-in-up">
      <h3>Basic Information</h3>
      <p>
        <label
          >
          <span class="form-field-label"> Your Name:</span>
          <input required type="text" name="name" placeholder="Your Name:"
/></label>
      </p>

      <p>
        <label
          >
          <span class="form-field-label"> Your Email:</span>
          <input required type="email" name="email" placeholder="Your Email:"
/></label>
      </p>

      <p>
        <label
          >
          <span class="form-field-label"> Your Phone Number:</span>
          <input
            required
            type="text"
            name="email"
            placeholder="Your Phone Number:"
/></label>
      </p>

      <h3>How Can We Help?</h3>
      <div class="radio-and-checkbox-container">
        <input type="checkbox" id="recipe-dev" name="service-required" value="Recipe Development"/>
        <label class="check-radio-box" for="recipe-dev">Recipe Development</label>
      </div>

      <div class="radio-and-checkbox-container">
        <input type="checkbox" id="design" name="service-required" value="Design & Branding"/>
        <label class="check-radio-box" for="design">Design & Branding</label>
      </div>

      <div class="radio-and-checkbox-container">
        <input type="checkbox" id="bottling" name="service-required" value="Bottling & Canning"/>
        <label class="check-radio-box" for="bottling">Bottling / Canning</label>
      </div>
    </div>

    <div class="right animate-in-up">
      <h3>About Your Project</h3>
      <p>
        <label
          >
          <span class="form-field-label"> Message:</span>
          <textarea name="message" placeholder="Message:"></textarea>
        </label>
      </p>
      <h3>What stage are you currently at?</h3>

      <div class="radio-and-checkbox-container">
        <input type="radio" id="startup" name="current-position"/>
        <label class="check-radio-box" for="startup">Startup</label>
      </div>
      <div class="radio-and-checkbox-container">
        <input type="radio" id="trading" name="current-position"/>
        <label class="check-radio-box" for="trading">Already Trading</label>
      </div>

    </div>

    <div class="animate-in-up span-full">
      <p>
        <button type="submit">Send</button>
      </p>
      <div class="radio-and-checkbox-container">
        <input required type="checkbox" id="privacy"/>
        <label class="privacy-box-text" for="privacy"
          >I confirm that my details can be passed on to Foodbuzz, Tidy Studio and
          Devon Drinks Solutions and agree to being contacted in relation to this
          enquiry.</label
        >

      </div>
    </div>

  </div>
</form>