<form name="contact" method="POST" data-netlify="true">
  <p class="animate-in-up">
    <label
      ><span class="form-field-label"> Your Name:</span>
      <input type="text" name="name" placeholder="Your Name:"
    /></label>
  </p>

  <p class="animate-in-up">
    <label
      ><span class="form-field-label"> Your Email:</span>
      <input type="email" name="email" placeholder="Your Email:"
    /></label>
  </p>

  <p class="animate-in-up">
    <label
      ><span class="form-field-label"> Your Phone Number:</span>
      <input type="email" name="email" placeholder="Your Phone Number:"
    /></label>
  </p>

  <p class="animate-in-up">
    <label
      ><span class="form-field-label"> Message:</span>
      <textarea name="message" placeholder="Message:"></textarea>
    </label>
  </p>
  <p class="animate-in-up">
    <button type="submit">Send</button>
  </p>
</form>
