<section id="hero" class="full-width content-grid">
  <h1>
    <span class="solid-black hero-text-animation">Bring</span>
    <span class="hero-text-animation">Your</span>
    <span class="solid-black hero-text-animation">Drinks</span>
    <span class="solid-black hero-text-animation">Concept</span>
    <span class="solid-white hero-text-animation">To Life</span>
  </h1>
  {{content | safe }}
</section>
