<section id="services" class="">
  <div id="left">
    {% for service in collections.services | reverse %}
    <div class="service" id="">
      <h2>{{service.data.title}}</h2>
      {{ service.templateContent | safe }}
    </div>
    {% endfor -%}
  </div>
  <div id="right">
    <div class="service-icons">
      {% for service in collections.services | reverse %}
      <img class="icon" src="{{service.data.icon}}" alt="" />
      {% endfor -%}
    </div>
  </div>
</section>
