---
layout: 'base.njk'
tag:
title: Bring Your Drinks Concept To Life
---

{% include 'hero.njk' %}

<section id="intro" class="">
  <img style="" class="three-drinks" src="/images/threeDrinks.png" alt="" />

  <p class="animate-in-up">
    The Drinks Partnership is a team of experienced professionals in the field
    of new product development, with a proven track record and extensive experience in developing,
    designing and delivering drinks from concept to launch.
  </p>

  <img style="" class="big-drinks" src="/images/bigDrinks.png" alt="" />
</section>

{% include 'services.njk' %}

<section id="form-section" class="full-width content-grid">
  <ul>
    <li><img src="/images/lab.png" alt="" /></li>
    <li><img src="/images/tim.png" alt="" /></li>
    <li><img src="/images/funki.png" alt="" /></li>
    <li><img src="/images/canning.png" alt="" /></li>
    <li><img src="/images/sharon.png" alt="" /></li>
  </ul>

  <h2 class="animate-in-up">Is there is a brief you would like to discuss?</h2>
  <p class="animate-in-up">
    Let's get this show on the road! We'd love to hear from you so please do get
    in touch using the form below and a member of our friendly team will be in
    touch asap!
  </p>

  {% include 'form.njk' %}
  
  <div class="lets-go-image-container">
  
  <img
    src="/images/letsGo.png"
    alt="Let's Go"
    class="lets-go-image animate-in-up"
  />
  
    <svg
      id="motion-path"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 819.42 773.11"
    >
      <path
        class="path-for-gsap-motion-path"
        fill="black"
        stroke="none"
        d="m170.37,117.15C32.79,235.52-65.06,475.82,52.39,642.04c113.2,160.21,360.33,158.08,513.5,76.36,219.17-116.94,328.96-441.13,195.42-609.23-122.63-154.37-420.17-138.94-590.95,7.99Z"
      />
    </svg>
  

  
  </div>
</section>


<section id="why-us" class="full-width content-grid"> 
  <h2 class="animate-in-up">Why Work With Us?</h2>
  <div id="icons-container">
    <div class="circle-icon">
      <img src="/images/owl.svg" alt="" class="icon-image">
      <h3>Industry Expertise</h3>
    </div>
    
    <div class="circle-icon">
      <img src="/images/hands.svg" alt="" class="icon-image">
      <h3>Bespoke Service</h3>
    </div>
    
    <div class="circle-icon">    
      <img src="/images/wings.svg" alt="" class="icon-image">
      <h3>Small-Batch Solutions</h3>
    </div>

  </div>
</section>

<section id="partner-logos" class="full-width content-grid"> 
  <p class="animate-in-up">The Drinks Partnership is a collaboration between:</p>
  <img src="/images/partnerLogos.png" alt="Tidy Studio, Deveon Drinks and Foodbuzz logos" class="logos animate-in-up">
</section>


<section id="footer" class="full-width content-grid"> 
  <div class="footer-items">
    <img src="/images/logo.svg" alt="" class="footer-logo">
    <a href="#" class=""><img src="/images/insta.svg" alt="" class="insta link"></a>
  </div>
  

</section>

