@use '_setup.scss' as a;

// Sidewide Styles

main {
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: a.$dark;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5em;
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] 1fr [content-start] minmax(250px, 1600px)
    [content-end] 1fr [full-width-end];
}

.content-grid > * {
  grid-column: content;
  // padding: 0 10px 0 10px;
}

.content-grid > .full-width {
  grid-column: full-width;
}

p {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  position: relative;  
  font-size: a.rem(40);
}

@include a.mq(medium) {
  p {
    width: 60%;
    font-size: a.rem(20);

  }
}

// Utility Classes

.purple {
  background-color: a.$light;
}

#intro {
  .three-drinks {
    width: 70%;
    margin: 0 auto;
    position: relative;
  }

  p {
    font-size: a.rem(50);
    margin: 5em auto 0 auto;

    @include a.mq(medium) {
      font-size: a.rem(30);
    }
  }

  .big-drinks {
    width: 180%;
    max-width: 180%;
    height: auto;

    @include a.mq(medium) {
      width: 100%;
    }
  }
}

#sub-intro {
  background-color: a.$light;
  color: a.$dark;
  padding: 200px 0 100px 0;

  h2 {
    text-align: center;
    font-size: a.rem(100);

    @include a.mq(medium) {
      font-size: a.rem(60);
    }
  }

  p {
    font-size: a.rem(40);

    @include a.mq(medium) {
      font-size: a.rem(24);
    }
  }
}

body:has(#thanks) {
  background-color: a.$light;
}

#thanks {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  place-content: center;
}

#partner-logos {
  margin-top: 150px;
  margin-bottom: 100px;
  img {
    max-width: 700px;
    margin: 0 auto;
  }
}

#footer {
  background-color: a.$light;
  padding-bottom: 150px;

  .footer-items {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;

    img {
      width: 20vw;
    }
  }
}
