@use '_setup.scss' as a;

#hero {
  height: 100vh;
  background-color: a.$light;
  // place-content: flex-start;
  justify-items: center;
  place-content: center;

  div {
    position: relative;
    top: -15vh;
  }

  @include a.mq(medium) {
    place-content: center;
  }

  .logo {
    width: 75vw;
    position: relative;
    margin: 0 auto 100px auto;

    @include a.mq(medium) {
      width: 25vw;
      position: relative;
      margin: 10vh auto 25px auto;
    }
  }

  h1 {
    color: a.$light;
    -webkit-text-stroke: 4px #26144d;
    font-size: a.rem(110);

    @include a.mq(medium) {
      font-size: clamp(a.rem(80), 7vw, a.rem(120));
    }

    text-align: center;
    text-transform: uppercase;

    span {
      display: inline-block;
    }

    .solid-white {
      -webkit-text-stroke: 0px;
      color: white;
    }
    .solid-black {
      -webkit-text-stroke: 0px;
      color: #26144d;
    }
  }
}
